#title {
  color: red;
}

.description {
  color: blue;
}

.box1 {
  background-color: silver;
  width: 50px;
  height: 300px;
  float: left;
}

.box2 {
  background-color: black;
  width: 50px;
  height: 300px;
  float: right;
}